.grid-item {
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.grid-item-details {
  padding: 2px 16px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.green {
  background-color: rgb(101, 222, 101);
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  color: rgb(255, 250, 250);
}

.yellow {
  background-color: rgb(255, 251, 2);
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  color: rgb(97, 97, 97);
}

button {
  background-color: var(--main-color);
  padding: 10px;
  border: 0;
  color: var(--white-color);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
}
